@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@300&family=Roboto&display=swap");

body {
  background-color: #000000;
  font-family: "Roboto", sans-serif;
}

.cover {
  object-fit: cover;
}
